.history__item {
    /*position: relative;*/
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 6px 10px;
    background-color: white;
    /*position: relative;*/
}

.history__item .status_unsuccessful {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #CF2C00;

}

.history__item .status_successful {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #30B800;
}
.history__item_expand {
    margin-left: 5px;
}
