.error {
    border: 1px solid red;
}

.console {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}

.console__request_input {
    width: 100%;
    height: 95%;
    appearance: none;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    resize: none;

}

.console__request_input, .console__response_field {
    height: 80vh;
}

.console__response {
    overflow-x: auto;
    margin: 0;
    width: 100%;

}

.console__response_field {
    border: 1px solid black;
    margin: 0;
    resize: both;
}

.header {
    display: grid;
    grid-template-columns: 7fr 1fr;
    background: #F6F6F6;
    padding: 10px 15px;

}

.header__left {
    display: flex;
    gap: 20px;
    font-size: 20px;
    line-height: 30px;
}

.header__right {
    display: flex;
    gap: 20px;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
}

.header__login {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px 15px;


}

.header__exit {
    display: flex;
    gap: 8px;
}

.header__exit_maximize {
    margin-left: 10px;
}

.history {
    background: #F6F6F6;
    padding: 10px 15px;
    display: flex;
    gap: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.history__item {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 6px 10px;
    background-color: white;
}

.history__item .status_unsuccessful {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #CF2C00;

}

.history__item .status_successful {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #30B800;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
}