.console__request .error {

    border: 1px solid #CF2C00;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(207, 44, 0, 0.5);

    border-radius: 5px;

}

.console__response .error {
    border: 1px solid #CF2C00;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(207, 44, 0, 0.5);

    border-radius: 5px;

}

.console {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: white;
    height: 100%;
    padding: 10px 15px 15px 15px;


}


.console__request_input {
    width: 100%;
    height: 99%;

    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
}

.console__request_textarea {
    width: 100%;
    height: 99%;

    appearance: none;
    resize: none;
    border: none

}

.console__request_input, .console__response_field {
    height: 74vh;
}

.console__response {
    margin: 0;
    width: 100%;
    overflow-x: hidden;

}

.console__response_field {
    margin: 0;
    resize: horizontal;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;

}
